################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/LogEntryClustering/v16/TestStore/0
/bin/Debug/netcoreapp3.1
/.vs/LogEntryClustering/v16
/diagrams/LogAggregator.ldb
/.vs/LogEntryClustering/DesignTimeBuild
